.wishlist-product-add {
    margin-top: 15px;
}
.wishlist-product-thumbnail button{
    margin-top: 20px;
}
.wishlist-table-content .table-content table tbody > tr td.wishlist-product-info .wishlist-product-price span {
    color: #27c77c;
}